form.standard-form .invite-anyone-widget-email-fields input[type="text"] {
	width: 95%;
	padding: 4px;
	font-size: 9pt;
	margin-bottom: 10px;
}

p#invite-anyone-widget-submit {
	text-align: right;
	margin-top: 10px;
}


