.ia-tabs {
	background: #d7d7d7;
	padding-top: 10px;
}
	.ia-tabs li {
		display: inline-block;
		padding: 6px 12px;
		background: #f9f9f9;
		margin: 0 10px;
		border: 1px solid #f9f9f9;
		border-bottom: none;
	}
	.ia-tabs li.current {
		border-color: #666;
	}

.invite-anyone-admin-limited ul {
	padding-left: 30px;
}

div.cs-explain {
	padding-left: 200px;
}

div.cs-settings {
	padding-top: 20px;
}

div.cs-settings label {
	width: 200px;
	display: block;
	float: left;
}

div.cs-settings input {
	padding: 5px auto;
	width: 200px;
}

div.cs p {
	padding-top: 15px;
	padding-right: 200px;
}

.cs-logo {
	float: left;
}

#invite-anyone-settings-submit {
	margin-top: 30px;
	clear: both;
}